.RatingWrapper{
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.MaxRating{
	opacity: 0.5;
	font-size: 1.5rem;
}

.VoteCount{
	font-size: 0.8rem;
	color: #B1B1B1;
	text-align: center;
	margin-top: 8%;
}
